

<ion-content>
  <div *ngIf = "userDetails">
    <button id= "signout" class = "button" type = "button" (click) = "onLogout()">Logout</button>

    
    <h1>Welcome {{userDetails.fullName}}</h1>
    
    <button id = "addNote" class = "button" routerLink="/create-note" >
      <ion-icon id = "createIcon" name="create"></ion-icon>
      Add Note
    </button>
    <div *ngIf = "userDetails.notes.length > 0">
    <ion-card *ngFor = "let note of userDetails.notes" class="animate__animated animate__fadeInDown">

      <ion-card-header>
        <ion-card-subtitle>Date: {{note.date}}</ion-card-subtitle>
        <ion-card-subtitle>Location: {{note.location}}</ion-card-subtitle>
        <ion-card-title id = "title">{{note.title}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{note.description}}
      </ion-card-content>

    </ion-card>
  </div>


  </div>
</ion-content>
