
<ion-content>
  <ion-icon routerLink="" id = "backArrow" name="arrow-back-outline"></ion-icon>
  <h1> Sign Up</h1>
  <form #signUpForm="ngForm" (ngSubmit) = "onSubmit(signUpForm)">

    <p color="primary" stacked>Full Name</p>
      <input  class = "input" #fullName="ngModel" type = "text" name = "fullName"[(ngModel)] = "userService.selectedUser.fullName"/>

      <p color="primary" stacked>Email</p>
      <input class = "input" #email="ngModel" type = "text" name = "email" [(ngModel)] = "userService.selectedUser.email" />
  
      <p color="primary" stacked>Password</p>
      <input class = "input" #password="ngModel" type = "password" name = "password" [(ngModel)] = "userService.selectedUser.password"/>

  
    <input class = "button" type = "submit"/>

  </form>
  <div *ngIf = "showSuccessMessage">
    <h1>You have signed up.</h1>
  </div>
  <div *ngIf ="serverErrorMessages">
    <h1> {{serverErrorMessages}}</h1>
  </div>
</ion-content>