<ion-content>

  <div id = "loginBanner">
    <h1>Login</h1>
  </div>

  <form #signInForm = "ngForm" (ngSubmit) = "onSubmit(signInForm)">


      <p color="primary" stacked>Email</p>

      <input class = "input" type="email" name = "email" #email = "ngModel" [(ngModel)] = "model.email" [pattern] = "emailRegex" required/>

      <div *ngIf = "signInForm.submitted && email.errors?.pattern">
        <label>Invalid email address.</label> 
      </div>




      <p color="primary">Password</p>
      <input class = "input" type = "password" name = "password" #password = "ngModel" [(ngModel)] = "model.password" required  minlength = "4"/>

      <div *ngIf = "signInForm.submitted && password.errors?.minlength">
        <label> Minimium 4 characters.</label>
      </div>
    

    <u><p routerLink="signup">Don't have an account? Sign Up</p></u>
    <br>
    <input class = "button" type = "submit"/>

  </form>

  <div *ngIf = "serverErrorMessages">
    <h1>{{serverErrorMessages}}</h1>
  </div>
</ion-content>