
    <ion-icon routerLink="/post-page" id = "backArrow" name="arrow-back-outline"></ion-icon>


<ion-content>


  <form [formGrouXp] = "form" (ngSubmit) = "createNote()" >
    <p id = "label" color="primary" stacked>Title</p>
    <input formControlName = "title" name = "title" class = "input" required/>

    <p color="primary">Description</p>

    <textarea class = "input" formControlName = "description" name = "description" placeholder="Add description here..." required></textarea>

    <button class = "button" type = "submit">Create Note</button>
  </form>
</ion-content>
